@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.tournament-container{
    height: 100%;
}

.tournament-container-heading{
    width: 100%;
    margin-top: 1vh;
    height: 10%;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.tournament-container-heading h2{
    text-align: center;
}

.total-tournament-card{
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.back-button{
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}

.total-tournament-card p{
    margin: 0;
    
}

.tournament-table-container{
    padding: 0 1vw;
}

.table-class{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.see-details-button{
    background-color: rgb(93, 158, 93);
}